.container {
	@extend .cf;
    margin: 0 auto;
    max-width: 1400px;
    width: 90%;

	&:after {
		content: '';
		display: block;
		clear: both;
	}
}


body {
    background: white;
    color: #82929a;
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
}